<router-outlet>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">birth_year</th>
                    <th scope="col">gender</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of countries">
                    <th scope="row">{{ user.name }}</th>
                    <td>
                        {{ user.birth_year }}
                    </td>
                    <td>{{ user.gender }}</td>
                    <td>
                        <button class="btn btn-default"><em class="fa fa-pencil"></em></button>
                        <button class="btn btn-danger"><em class="fa fa-trash"></em></button>
                    </td>
                    <!-- <td>{{ user.population | number }}</td>-->
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
  <option [ngValue]="2">2 items per page</option>
  <option [ngValue]="4">4 items per page</option>
  <option [ngValue]="6">6 items per page</option>
  <option [ngValue]="8">8 items per page</option>
</select>
        </div>
    


</router-outlet> 
    